# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.vscode/ # For VS Code users
*.swp
*~
*.log
*.pot
*.egg-info/
.env


# Database
db.sqlite3

# Media and Static Files (if served locally in dev)
/media/
/static/

# Development specific files
*.sqlite3

# IDE specific files
.vscode/
.idea/
__pycache__/

# For Django specific settings
VividComm/local_settings.py

# IDE and OS files
.vscode/ # If you want to ignore VS Code settings (optional, depends on preference)
Thumbs.db # Windows specific